doctype 5
html
  head
    title elephants
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content

    script (src="http://code.jquery.com/jquery.js")
    script (src="js/bootstrap.min.js")
