extends layout

block content
    .container-fluid
        .span2
            h1 register
        .span10    
            form(method='post').form-horizontal
                .control-group
                    label.control-label Username
                    .controls
                        input(type='text', name='user[name]')
                .control-group
                    label.control-label Password
                    .controls
                        input(type='password', name='user[password]')
                .controls
                    input(type='submit', value='submit').btn